/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */


.container {
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  gap: 10px;

}

.content {
  flex: 1;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.leftbar {
  width: 300px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;

  height: 95vh;

  position: relative;

  overflow-y: hidden;
}

.leftbar-header {
  display: flex;
  flex-direction: column;
}

.leftbar-content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-height: 70% !important;
  overflow-y: auto;

  position: relative;
}

.hidden {
  display: none !important;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;

  margin-bottom: 10px;
}

.form-control {
  flex: 1;
}

.btn-primary {
  width: 100%;
}
